
<h1> Clicking "Confim" will add <%=@user.username%> to your friends list.</h1>
<%=form_with model: @friend_new do |f|%>
<%= f.submit 'Confirm'%>
<%end%>

<%=flash[:errors]%>

<hr>
Logged In As: <%=link_to session[:username], user_path(session[:id])%> 
<br>
<%= button_to 'log out', {:controller => :sessions, :action => 'destroy'}, :method => :delete, class: "btn btn-primary"%>

