<h1 style="color:red"><%=flash[:errors]%></h1>

<h2><%=@user.username%>'s Profile</h2>
<%if @user.img_url != nil%>
<%= link_to image_tag(@user.img_url, :size => '250x250')%>
<%else%>
<%= link_to image_tag("profile/blank.jpg", :size => '250x250')%>
<%end%>
<hr>

<ul>
   <li>Name: <%= @user.first_name %> <%= @user.last_name %></li>
    <li>Age: <%= @user.age %></li>    
    <li>Bio: <%= @user.bio %></li>    
</ul>



<% if session[:id] != @user.id %>
    <%= link_to 'Add Friend', new_friends_list_path%>
    <hr>
<%else%>
    <%=link_to 'Edit Information', edit_user_path(@user) %><br>
  
<%end%>
<h2>Upcoming Events:</h2> 

<%= link_to 'See All Events', events_path%>
<br>
<br>
<%@user.events.future_events.each do |event|%>
<%= link_to image_tag(event.img_url, :size => '150x100')%><br>
<%=link_to event.title, event_path(event)%><br>
<%=event.time_format%><br>
<hr>
<%end%>

<br>
<h2>Past Events:</h2> 
<%@user.events.past_events.each do |event|%>
<%=link_to event.title, event_path(event)%> -  <%=event.time_format_2%><br>
<%end%>

<br>
<h2><%= link_to 'See Friends', '/users/see/friends'%></h2> 



<br>
<br>


Logged In As: <%=link_to session[:username], user_path(session[:id])%> 
<br>
<%= button_to 'log out', {:controller => :sessions, :action => 'destroy'}, :method => :delete%>
<hr>
<% if session[:id] == @user.id %>
<%=form_with model: @user, method: :delete do |f|%>
<%=f.submit "Delete Profile"%>
<%end%>
<%end%>