<h2>Upcoming Events:</h2> 
<%@events.future_events.each do |event|%>
<%=link_to event.title, event_path(event)%> - <%=event.time_format%><br>
<%end%>

<br>
<h2>Past Events:</h2> 
<%@events.past_events.each do |event|%>
<%=link_to event.title, event_path(event)%> - <%=event.time_format_2%><br>
<%end%>

<br>
<br>
<br>
<hr>
<%=link_to "Register an Event", new_event_path%>

