<h1 style="color:red"><%=flash[:errors]%></h1>
<h1 style="color:red"><%=flash[:err]%></h1>

<h1><%=@event.title%></h1>
<hr>
<%= link_to image_tag(@event.img_url, :size => '300x200')%>
<hr>
<p><%=@event.time_format%>
<br>
<br>
<br>
<h2>About</h2>
<hr>
<%=@event.details%></p>
<br>
<br>
<br>


<h2>Tags</h2> 
<%@event.interests.each do |int|%>
<%= link_to int.name, interest_path(int)%>,
<%end%>
<br>
<%= link_to 'add tag', new_event_interest_path%><br>



<h3>People Attending</h3>
<% @event.users.each do |user|%>
<%= link_to user.username, user_path(user)%><br>
<%end%>
<br>
<br>
<br>
<%=link_to "RSVP", new_events_list_path%>
<%=form_with model: @event, method: :delete do |f|%>
<%=f.submit "Cancel Event"%>
<%end%>
<hr>
<%= link_to 'See All Events', events_path%><br>
<br>
<br>
<hr>
<hr>
Logged In As: <%=link_to session[:username], user_path(session[:id])%> 
<br>
<%= button_to 'log out', {:controller => :sessions, :action => 'destroy'}, :method => :delete%>

