<h1><%=@interest.name%></h1>
<br>

People with Similiar Interest
<%@interest.all_user_int_obj.each do |user_int_obj|%>
<%=link_to user_int_obj.user.first_name, user_path(user_int_obj.user)%>
<%end%>
<br>

Upcoming Events
<ul>
<%@interest.event_int.each do |e|%>
<%=link_to e.event.title, event_path(e.event)%>
<%end%>
</ul>
<br>
<%= link_to 'See All Events', events_path%><br>
<br>
<hr>
Logged In As: <%=link_to session[:username], user_path(session[:id])%> 
<br>
<%= button_to 'log out', {:controller => :sessions, :action => 'destroy'}, :method => :delete%>
<hr>

